
{% extends 'shopadmin/index.html' %}
{% block content %}


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
              <div class="card-title">Add Color and Size</div>
            </div>
            <div class="card-body ">
              <div class="row">
                <div class="col-md-8 col-lg-4" id="addColorSize">
                  
                <div class="addform">
                    <div class="form-group">
                        <label for="largeSelect">Item Select</label>
                        <select
                          class="form-select form-control-lg"
                          id="largeSelect"
                        >
                        {% for i in itm %}
                          <option value="{{i.id}}">{{i.itemname}}</option>
                          
                          {% endfor %}
                        </select>
                    </div>
                    <div class="form-group row">
                        <div class="col-6">
                        <label for="icolor">Color</label>
                        <input type="text" name="icolor" id="icolor" class="form-control">
                        </div>
                        <div class="col-6">
                        <label for="isize">Size</label>
                        <input type="text" name="isize" id="isize" class="form-control">
                        </div>
                    </div>

                    

                    <div class="card-action">
                        <button class="btn btn-success" id="addColorBtn">Add Color</button>
                        <button class="btn btn-info" id="addSizeBtn">Add Size</button>
                    </div>
                </div>
    
    
    
    
                </div>
                
              </div>
            </div>
            
          </div>
    </div>
  </div>



  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Items Color and Size</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table
            id="basic-datatables"
            class="display table table-striped table-hover"
          >
            <thead>
              <tr>
                <th>Sr</th>
                <th>itemname</th>
                <th>color</th>
                
                <th>size</th>
                <!-- <th>action</th> -->
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Sr</th>
                <th>itemname</th>
                <th>color</th>
               
                <th>size</th>
                <!-- <th>action</th> -->
              </tr>

            </tfoot>
            <tbody>
              {% for i in itm %}
              <tr>
                <td>
                  {{i.id}}
                  
                </td>
                <td>{{i.itemname}}</td>
                <td>
                    
                {% for c in i.itmcolor_set.all %}
                 [<span class="text-primary">{{c.color}}</span>]
                {% endfor %}
                </td>
                
                <td>
                {% for c in i.itmsize_set.all %}
                 [<span class="text-primary">{{c.size}}</span>]
                {% endfor %}
                </td>
                
              </tr>
              {% endfor %}
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>



{% endblock content %}