
{% extends 'shopadmin/index.html' %}
{% block content %}

<div>
<form action="" method="post">{% csrf_token %}
    <h4 class="mtext-105 cl2 txt-center p-b-30">
        Login
    </h4>

    <div class="bor8 m-b-20 how-pos4-parent">
        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="username" placeholder="Your Username">
        
    </div>

    <div class="bor8 m-b-20 how-pos4-parent">
        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="password" name="password" placeholder="Your Password">
        
    </div>

    

    <button type="submit" class="p-l-62 p-r-30 size-116 btn-success">
        Submit
    </button>

   
</form>
</div>


{% endblock content %}